@import url("https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe&display=swap" rel="stylesheet") body {
    padding: 0;
    margin: 0;
}

#top {
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    font-family: 'ZCOOL KuaiLe', cursive;
    background-color: antiquewhite;
}

#main {
    display: flex;
    justify-content: center;
    font-size: 40px;
    height: 400px;
    align-items: center;
    font-family: 'ZCOOL KuaiLe', cursive;
    background-color: azure
}

#input {
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    margin: auto;
    background-color: antiquewhite;
}

#event {
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    margin: auto;
}

#output {
    display: grid;
    flex-direction: row;
    margin: auto;
    align-items: center;
    justify-content: center;
}


/* #one {
    display: flex;
    margin-inline-start: auto;
    align-items: flex-start;
    justify-content: center;
}

#two {
    display: flex;
    margin-inline-start: auto;
    align-items: flex-start;
    justify-content: center;
}

#three {
    display: flex;
    margin-inline-start: auto;
    align-items: flex-start;
    justify-content: center; */


}